<form action="">
  <span>Vorname</span>
  <input type="text">
  <br />
  <span>Nachname</span>
  <input type="text">
  <br />
  <span>Straße</span>
  <input type="text">
  <br />
  <span>Hausnummer</span>
  <input type="text">
  <br />
  <span>PLZ</span>
  <input type="text">
  <br />
  <span>Stadt</span>
  <input type="text">
  <br />
  <span>Land</span>
  <input type="text">
  <br />
  <span>Telefon</span>
  <input type="text">
  <br />
  <button type="submit">Bestellung Absenden</button>
</form>