<form action="">
  <span>Vorname</span>
  <input type="text" e2e="FirstName">
  <br />
  <span>Nachname</span>
  <input type="text" e2e="LastName">
  <br />
  <span>Straße</span>
  <input type="text" e2e="Street">
  <br />
  <span>Hausnummer</span>
  <input type="text" e2e="StreetNumber">
  <br />
  <span>PLZ</span>
  <input type="text" e2e="Zip">
  <br />
  <span>Stadt</span>
  <input type="text" e2e="City">
  <br />
  <span>Land</span>
  <input type="text" e2e="Country">
  <br />
  <span>Telefon</span>
  <input type="text" e2e="Telefon">
  <br />
  <button type="submit" e2e="Submit">Bestellung Absenden</button>
</form>